main{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    background-color: #230128;
}
.geral{
    width: 100%;
    justify-content: space-around;
    flex-direction: column;   
}

h1{
    color:#000;
    font-size: 2.5em;
    font-family: 'Comfortaa', cursive;
    text-shadow: -2px -2px 0 #fff,
                    2px -2px 0 #fff,
                 -2px  2px 0 #fff,
                    2px  2px 0 #fff; 
}
h2{
    color: #000;
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.6em;
    margin-top: 0.5em;
    font-weight: bolder;
}
.flex.event-container p{
    font-size: 1.5em;
    font-family: 'Fredoka One', cursive;

}


.icon-2{
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    margin-left: 2.5em;
    margin-top: -18em;
    position: fixed;
}

.flex.icon-3 > a{
    text-decoration: none;
    color: black;
}
.flex.cima{
    width: 100%;
    height: 2px;
    align-items: center;
    justify-content: center;

}

.fas.fa-backward.fa-2x{
    text-shadow: -1px -1px 0 #fff,
                    1px -1px 0 #fff,
                 -1px  1px 0 #fff,
                    1px  1px 0 #fff;
}
/*=================================================================
                 parte dos containers do centrais 
 ================================================================= */               
.central-container{
    width: 100%;
    height: 100px;
    justify-content: space-evenly;
}

.event-container{
    width: 280px;
    height: 180px;
    background-color: #fff;   
    border: 3px solid #000;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.event-container img{
    width: 85%;
}

.pend-container{
    background-color: #fff;
    width: 150px;
    height: 150px;
    border: 3px solid #000;
    align-items: center;
    justify-content: center;
    margin-top: -5em;
}

.check-container{
    background-color: #fff;
    width: 150px;
    height: 150px;
    border: 3px solid #000;
    align-items: center;
    justify-content: center;
    margin-top: -5em;
}

.recuse-container{
    background-color: #fff;
    width: 150px;
    height: 150px;
    border: 3px solid #000;
    align-items: center;
    justify-content: center;
    margin-top: -5em;
}

.black-container{
    background-color: #000;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    margin-top: -5em;
}
/*=================================================================================*/
/*=================================================================================
                            Dashboard
===================================================================================*/
table{
    text-align: center;
    color: #fff;
    width: 100%;
    padding: 5px;
    word-break: normal;
}
table th {
    width: 170px;
    height: 1.5em;
    font-size: 1.4em;
    color: #000;
    background-color:#fff;

}
table td{
    border: 1px solid white;
    font-size: 1.2em;

}

table td .ok{
    text-align: center;
}
table .ok > a{
    text-decoration: none;
    color: #00be11;
}
table .rec > a{
    text-decoration: none;
    color: red;
}
table .read > a{
    text-decoration: none;
    color:  #ffc600;

}

tfoot td {
    font-size: 0.7em;
    text-align: center;
    color: #fff;
    background-color: #000;
}

/*================================================================================================================================================================================
                        MOBILE
======================================================================================================================================================*/
@media (max-width: 625px){
    h1{
        margin-top: 6em;
    }
    h2{
        font-size: 1em;
        margin-top: 0.5em;
    }
    p{
        font-size: 1em;
        margin-top: 1em;

    }
/* parte dos containers do centrais */
.central-container{
    width: 100%;
    height: 800px;
    justify-content: space-between;
    align-items: center;

}

.event-container{
    width: 30%;
    height: 100px;
    margin-top: 8em;
}

.pend-container{
    width: 100px;
    height: 100px;


}
.pend-container img{
    width: 80%
}

.check-container{
    width: 100px;
    height: 100px;

}
.check-container img{
    width: 90%
}

.recuse-container{
    width: 100px;
    height: 100px;



}

.recuse-container img{
    width: 90%
}
.black-container{
    width: 100px;
    height: 100px;
}

/*=================================================================================
                            Dashboard
===================================================================================*/
table{
    color: #fff;
    width: 100%;
    margin-bottom: 6em;

    
}
table th {
    width: 100%;
    height: 1em;
    font-size: 0.75em;

}
table td{
    border: 1px solid white;
    font-size: 0.4em;
    height: 2em;
    width: 100%;

}

table .rec > a{
    text-decoration: none;
    color: red;
}
table .read > a{
    text-decoration: none;
    color:  #ffc600;

}

tfoot td  {
    height: 2em;
}
tfoot td > p {
    font-size: 0.5em;
    margin-top: -1em;
    align-self: flex-end;
    
}

 
}