main{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    background-color: #230128;
}
.geral{
    width: 100%;
    justify-content: space-around;
    flex-direction: column;   
}

h1{
    color:#000;
    font-size: 2.5em;
    font-family: 'Comfortaa', cursive;
    text-shadow: -2px -2px 0 #fff,
                    2px -2px 0 #fff,
                 -2px  2px 0 #fff,
                    2px  2px 0 #fff; 
}
h2{
    color: #000;
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.6em;
    margin-top: 0.5em;
    font-weight: bolder;
}
.flex.event-container p{
    font-size: 1.5em;
    font-family: 'Fredoka One', cursive;

}


.icon{
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    margin-left: 2.5em;
    margin-top: -18em;
    position: fixed;
}

.flex.icon > a{
    text-decoration: none;
    color: black;
}
.flex.cima{
    width: 100%;
    height: 2px;
    align-items: center;
    justify-content: center;

}

.fas.fa-backward.fa-2x{
    text-shadow: -1px -1px 0 #fff,
                    1px -1px 0 #fff,
                 -1px  1px 0 #fff,
                    1px  1px 0 #fff;
}
/*=================================================================
                 parte dos containers do centrais 
 ================================================================= */               
.central-container{
    width: 100%;
    height: 100px;
    justify-content: space-evenly;
}

.event-container{
    width: 280px;
    height: 180px;
    background-color: #fff;   
    border: 3px solid #000;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.event-container img{
    width: 85%;
}

.pend-container{
    background-color: #fff;
    width: 150px;
    height: 150px;
    border: 3px solid #000;
    align-items: center;
    justify-content: center;
    margin-top: -5em;
}

.check-container{
    background-color: #fff;
    width: 150px;
    height: 150px;
    border: 3px solid #000;
    align-items: center;
    justify-content: center;
    margin-top: -5em;
}

.recuse-container{
    background-color: #fff;
    width: 150px;
    height: 150px;
    border: 3px solid #000;
    align-items: center;
    justify-content: center;
    margin-top: -5em;
}

.black-container{
    background-color: #000;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    margin-top: -5em;
}
/*=================================================================================*/
/*=================================================================================
                            Dashboard
===================================================================================*/
table{
    text-align: center;
    color: #fff;
    width: 100%;
    padding: 5px;
    word-break: normal;
}
table th {
    width: 170px;
    height: 1.5em;
    font-size: 1.4em;
    color: #000;
    background-color:#fff;

}
table td{
    border: 1px solid white;
    font-size: 1.2em;

}

table td .ok{
    text-align: center;
}
table .ok > a{
    text-decoration: none;
    color: #00be11;
}
table .rec > a{
    text-decoration: none;
    color: red;
}
table .read > a{
    text-decoration: none;
    color:  #ffc600;

}

tfoot td {
    text-align: center;
    color: #fff;
    background-color: #000;
}

/*================================================================================================================================================================================
                        MOBILE
======================================================================================================================================================*/
@media (max-width: 625px){
 
}