*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body{
  height: 4fr;
  background-color: #111111;
  background-image: linear-gradient(#4e015b,#44014f,#1e0023,#000000);

}

@font-face{
  font-family: 'cowboy';
  src: url('../Fontes/BAYOC___.TTF');
}
section {
    text-align: center;
  }
h1{
  color: white;
  font-size: 3.5em;
  font-family: 'cowboy',sans-serif;
  padding: 10px 0px;  
  
}    
p {
  color: #ffffff;
  font-family: 'Itim', cursive; 
  font-size: 1.4em;
}
.flex {
  display: flex;
}
.section-container{
  margin: 0 auto;

}
/*===Banner-area===*/
#banner-area{
  background-image: url('../2-Imagens/Imagens-de-salão-de=eventos/Salão/Principal.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 14em;
  filter: contrast(130%) drop-shadow(0px 10px 21px #000);
  
}

#banner-area  h2{
  font-family: 'cowboy',sans-serif;
  font-size: 4em;
  text-shadow: -5px -5px 0 #000,
                    5px -5px 0 #000,
                 -5px  5px 0 #000,
                    5px  5px 0 #000;

}
.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}
#banner-area.banner > div{
  margin-top: 2em;
}

#banner-area h3{
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  color: #fff;
  text-shadow: -2px -2px 0 #000,
                    2px -2px 0 #000,
                 -2px  2px 0 #000,
                    2px  2px 0 #000;
  
}
/*======================================================================================
                             Nav
======================================================================================*/
nav{
  background-image: linear-gradient(#4e015b,#1e0023,#000000);
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 19%;
}
nav #bt-mobile-menu{
  display: none;
}
nav ul img.logo{
  width: 180%;
  margin-top: 1em;

}
/*logo do usuario*/
nav ul img{
  width: 50%;
  
}

nav ul{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;  
  font-family: 'Limelight', cursive;
  align-items: flex-start;
  justify-content: space-between;
  list-style-type: none;
  font-size: 1em;
  margin-top: 1em;
}
nav ul > li{
  width: 100%;
  text-align: center;
}
nav ul > li > a{
  padding: 1em;
  display: block;
  text-decoration: none;
  color: white;
}

nav ul > li > .sob:hover{
  background-color: #fff;
  color: #000;
  border-radius: 15px;
  box-shadow: 1px 5px black;
}
nav ul > li:last-child {
  font-family: 'Carter One', cursive;
  font-weight: bold;
  padding: 0.1em;
  margin-top: -1em;    
}

/* Nav fim====================*/
/*=============================================
          Inicio Parte   de    Eventos
==============================================*/

.container-eve{
  max-width: 80em;
  height: 63em;
  margin: 0 auto;
  border: 1px solid white;
  backdrop-filter: blur(100px);
  background-color: rgba(220,220,220,0.2);
  border-radius: 3em;
  
}
.flex-wrap-central{
  flex-flow: row wrap;
  justify-content: space-around;

}

.evento-container{
  width: 30%;
  height: 7.5em;
  background-size: 100%;
  font-size: 1.8em; 
  border-radius: 0.5em;
  font-family: 'Luckiest Guy', cursive;
  border: 1px solid white;
  justify-content: center;
  align-items: center;
  text-shadow: -3px -3px 0 #000,
                    3px -3px 0 #000,
                -3px  3px 0 #000,
                    3px  3px 0 #000;
}

.flex-wrap-central > div{
  margin: 0.5em;
  filter: grayscale(1);

}
.flex.flex-wrap-central > div:hover{

  box-shadow: -3px 5px rgba(0, 0, 0, 0.3);
  filter: grayscale(0);
}

.balada{
  background-image: url('../2-Imagens/Eventos/Balada.jpg');
}
.aniversario{ 
  background-image: url('../2-Imagens/Eventos/Aniversario.jpg');
  background-position: center;

}
.anos{  
  background-image: url('../2-Imagens/Eventos/15-Anos.jpg');
}
.festas{
  background-image: url('../2-Imagens/Eventos/Festa.png');  
}
.cha{
  background-image: url('../2-Imagens/Eventos/Cha-de-bebe.jpg');  

  }
.formatura{
  background-image: url('../2-Imagens/Eventos/Formatura.jpg');  

  
}
.casamento{
  background-image: url('../2-Imagens/Eventos/Casamento.jpg');  
 
}
.confra{
  background-image: url('../2-Imagens/Eventos/Confraternização.jpg');

}

h2{
  color: #fff;
  text-justify: center;
  margin-top: 1.5em;
}

/*=========================================================================
                    Fim da parte de eventos
==========================================================================*/

/*==============================================================================================
                      Inicio do Serviço
===============================================================================================*/
#servicos{
  background-color: #000;
}
#servicos img{
  height: 80%;
  width:  15%;
  align-self: baseline;
  
}
#servicos > p {
  text-align: left
}
.serv-container{
  width: 70%;
  height: 53em;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-around;
}
.serv-area{
  
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

/*==============================================================================================
                      Inicio do Fim
===============================================================================================*/
/*==================================================================================
                    INFRAESTRUTURA/GALERIA
=================================================================================*/
#Infraestrutura-Galeria{
  background-color: #1e0023;
  filter: drop-shadow(0px 10px 21px #000);
}
#Infraestrutura-Galeria > p{
  margin-bottom: 2em;
}
.planta{
  width: 70%;
}
.planta > img{
  width: 100%;
}
.container-inf{
  max-width: 70%;
  height: 800px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 1em;

}
.galeria{
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;

}
.flex.galeria{
  width: 100%;
  height: 100%;

}
.flex.galeria div > img{
  width: 15em;
  height: 10em;
  border-radius: 1em;
  margin-bottom: 1em;

  
}
/*==============================================================================*/

/*=================================================================================
                      Orçamento
==============================================================================*/
#orçamento{
  background-color: #7d0073;
  width: 100%;
  max-height: 1800px;
  filter: contrast(100%) drop-shadow(0px 10px 21px #000);
}
#orçamento img{
  width: 35em;
  height: 30%;
  margin-top: 2em;
  border-radius: 1em;
}
#orçamento > p {
  text-align: left;
}
.mento-container{
  width: 60%;
  max-height: 800px;
  margin: 0 auto;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-around;
  
}
.plano{
  width: 20em;
  height: 13em;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: rgba(220,220,220,0.2);
  margin: 2em;
}

.flex.plano > h4{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif; 
  font-size: 1.8em;
}
.flex.mento-container div > a > div{
  padding: 0.4;
  text-decoration: none; 
  color: #fff; 
  border: 1px solid white;
  border-radius: 20px;
}
.flex.mento-container div > a{
  text-decoration: none;
  display: block;
}
.flex.mento-container div > a > div:hover{
  background-color: #000;
  color: #fff;
  border: 1px solid white;
  margin-top: -15px;
}

/*===========================================================================================
                            Calendario
==========================================================================================*/
#calendario{
  background-color: #000;
  width: 100%;
}                           
#calendario > img{
  width: 50%;
  border-radius: 20px;
} 

.calendario-container{
  width: 80%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  flex-flow: wrap row;
}
.flex.calendario-container img{
  width: 30em;
  height: 20em;
  border-radius: 1em;
  margin-bottom: 1em;
}
/*===========================================================================================
                                        Parte de FAQ 
=============================================================================================*/
#FAQ{
  background-image: linear-gradient(#1e0023,#44014f,#4e015b)
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  
  
  border-radius: 30px;
  justify-items: center;

}
.letra{
  text-align: left;
  font-size: 1em;
  padding: 2em;
}
/* imagem do boneco*/
.boneco{
  align-self: flex-end;
  margin-right: 2em;
}

.boneco > img{
  width: 100%
}
/*=============================================== 
            FIM DA PARTE DE FAQ
==============================================*/   
/*==============================================
           CONTATOS
================================================*/
#Contatos{
  background-image: linear-gradient(#1e0023,#1e0023,#000)
}
.cont-container{
  width: 100%;
  height: 500px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
 
}
.cont-row{
  width: 50%;
  height: 120px;
  margin: 0 auto;
  align-items: center;
  justify-content: flex-start;
}
.cont-icon{
  color: #fff;
  margin-right: 1em;
}
.flex.cont-container p{
  font-size: 2em;
}
/*======================================================================================*/
/*========================================================================================
                                     Localização
========================================================================================*/
.block{
  display: flex;
}
.loca-container{
  width: 100%;
  height: 200px;
  margin: auto 0;
  flex-direction: column;
  justify-content: space-between;
}
.loca{
  margin: auto 0;
  justify-content: center;
  align-items: flex-end;
}

.local-icon{
  color: #fff;
  margin-right: 1em;
} 
.mapa{
  margin-bottom: 5em;
  margin-top: -1em;
}
           
/*=====================================================
                  RODAPÉ
=======================================================*/
footer{
  background-image: linear-gradient(#44014f,#1e0023,#000);
  width: 100%;
  height: 50%;
}
.footer-container{
  width: 100%;
  height: 40%;
  justify-content: space-between;
}
.footer-logo{
  width: 15%;
}

.social{
  flex-flow: column wrap;
  justify-content: space-around;
  text-align: left;
  align-items: flex-start;
  margin-right: 2em;
}
.social-icon{
  color: #fff;
}
.foot{
  justify-content: space-evenly;
  align-items: flex-end;
}

/*===================================================================================
                          FIM DO RODAPÉ
====================================================================================*/                          

/*================================================================================================================================================================================
                        MOBILE
======================================================================================================================================================*/
@media (max-width: 625px){

    h1{
      font-size: 2em;
      flex-wrap: nowrap;
    }

    h2{
      color: #fff;
      text-justify: center;
      margin-top: 1.5em;
    }

    p {
      font-size: 0.9em;
    }
    /*====Banner area======*/
    #banner-area h2{
      font-size: 2em;
      text-justify: distribute; 
    }
    #banner-area h3{
      font-size: 1.2em;
      
    }

    #banner-area{
      padding: 2em;
      margin-top: 2em;
      
      
    }
    /*==============================================
    NAV
    =============================================*/           
    nav{
      height:1px;
    }
    nav ul > li > a > img{
      display: none;
    }

    nav #bt-mobile-menu {
      display: block;
    }

    nav .bt-common-menu {
      display: none;
    }

    nav .bt-common-menu.active {
      display: block;
    }

    nav ul.mobile-mode {
      display: flex;    
      flex-direction: column;
    }
    nav ul > li > .sob:hover{
      background-color: #fff;
      color: #000;
      border-radius: 0px;
    }
    #bt-login > i{
      display: none;
      
    }
    #bt-login{
      margin-top: -3em;
    }
    nav ul > li > a{
      padding: 1em;
      background-color: #44014f;
    }

    .icon{
      width: 103%;
      height: 68px;
      margin-top: -3em;
      
    }


    /*===========================================================================*/

    .evento-container{
      width: 38%;
      height: 7em;
      font-size: 0.8em; 
    }
    .container-eve{
      width: 100%;
      height: 40em;
      
    }
    .flex-wrap-central > div{
      filter: grayscale(0);
      
    }
    h2{
      color: #fff;
      text-justify: center;
      margin-top: 1.2em;
    }
    .margin-bot{
      margin-bottom: 2em;
    } 

    #orçamento img{
      width: 100%;
      height: 30%;
      margin-top: 2em;
      border-radius: 1em;
    }
    .flex.cont-container p{
      font-size: 1em;
    }
    /*==============================================================================================
    Inicio do Serviço
    ===============================================================================================*/
    #servicos img{
      height: 95%;
      width:  20%;  
    }
    .serv-container{
      width: 100%;
      
    }

    /*==============================================================================================
    Fim
    ===============================================================================================*/
    /*==================================================================================
    INFRAESTRUTURA/GALERIA
    =================================================================================*/
    .planta{
      width: 100%;
    }
    .container-inf{
      max-width: 100%;
      
    }
    .flex.galeria div > img{
      width: 10em;
      height: 7em;  
    }
    /*==============================================================================*/
    /*=================================================================================
    Orçamento
    ==============================================================================*/
    .mento-container{
      width: 100%;
      max-height: 1000px;
      
    }
    .plano{
      width: 11em;
      height: 8em;
    }

    .flex.plano > h4{
      font-size: 1em;
    }
    .flex.mento-container div > a > div:hover{
      margin-top: -1px;
    }
      /*===========================================================================================
      Calendario
      ==========================================================================================*/
      #calendario{
        background-color: #000;
        width: 100%;
      }
                              
      #calendario > img{
        width: 50%;
        border-radius: 20px;
      } 
      
      .calendario-container{
        width: 80%;
        height: 100%;
        margin: 0 auto;
        align-items: center;
        justify-content: space-around;
        flex-flow: wrap row;
        border: 1px solid white;
      }
      .flex.calendario-container img{
        width: 30em;
        height: 20em;
      }
      /*===========================================================================================
      Parte de FAQ 
      =============================================================================================*/
      #FAQ{
        background-image: linear-gradient(#1e0023,#44014f,#4e015b)
      }
      .container {
        max-width: 1000px;
        margin: 0 auto;
        
        
        border-radius: 30px;
        justify-items: center;
        
      }
      .letra{
        text-align: left;
        font-size: 1em;
        padding: 2em;
      }
      /* imagem do boneco*/
      .boneco{
      display: none;
      
    }

    .boneco > img{
      width: 30%;
      height: 30%;
    }
    
    /*===========================================================================================
    Calendario
    ==========================================================================================*/                         
    #calendario > img{
    width: 100%;
    border-radius: 0px;
    } 

    .calendario-container{
    width: 100%;
    }
    .flex.calendario-container img{
    width: 20em;
    height: 10em;
    }
    /*=====================================================
    RODAPÉ
    =======================================================*/
    .footer-logo{
    width: 30%;
    height: 30%;
    align-self: center;
    }

    .social{
    align-items: flex-end;
    margin-right: 0em;
    }
} 

