/*======================================================================
                          MAIN
=====================================================================*/
main{
    width: 100%;
    height: 800px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    background-color: #44014f;
  }

.icon{
  color: #fff;
}

.suporte{
  width: 100%;
  height: 300px;
  text-align: left;
  justify-content: space-between;
}

.descricao{
  margin-top: 2em;
}
/* caixa de texto */
#descricao{ 
  width: 20em; 
  height: 140px; 
  resize: none;
  border-radius: 6px;
}

/* Texto dos Inputs */
form label{
  color: white;
  font-weight: bold;
  font-family: 'Vollkorn', serif;  
  font-size: 1.5em;
  text-shadow: -2px -2px 0 #000,
                    2px -2px 0 #000,
                 -2px  2px 0 #000,
                    2px  2px 0 #000;
}

/* botão de envia*/
form input[type="submit"] {
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
  margin: 20px 0;
  width: 6em;
  height: 2em;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  font-size: 1.8em;
}
form input[type="submit"]:hover{
  background-color: #fff;
  border: 3px solid #000;
  color: #000;

}
.submit{
  justify-content: flex-end;
}

/*================================================================================================================================================================================
                        MOBILE
======================================================================================================================================================*/
@media (max-width: 625px){
  /*======================================================================
                          MAIN
=====================================================================*/
main{
  height: 600px;


}
}